* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.75%;
  font-family: 'Lato', sans-serif;
}

body {
  width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.title {
  font-size: 36px;
  font-weight: 700;
}

/* ======= HEADER ======= */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;
}

.header__logo a {
  text-decoration: none;
  color: #FFF;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__img-logo {
  width: 2.5rem;
  height: 1.8rem;
  margin-right: 1rem;
}

.header__title {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.navigation ul {
  display: flex;
  list-style: none;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4rem;
}

.navigation__item a {
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
}

.navigation__item:not(:last-child) {
  margin-right: 2.5rem;
}

.header__btn-login {
  border: 1px solid #FFF;
  border-radius: .5rem;
  width: 10rem;
  text-align: center;
  padding: 11px 28px;
  font-size: 14px;
  transition: .2s ease;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
}

.header__btn-login:hover {
  background-color: #FFF;
  color: rgba(213, 32, 71, 0.8);
}

/* ======= HERO ======= */
main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero {
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url(../assets/bg-hero.jpg) no-repeat fixed;
  background-size: 100%;
}

.hero-section__title {
  color: #FFF;
  font-size: 7.2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4.5rem;
  margin-top: 8rem;
}

.hero-section__description {
  color: #FFF;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 400;

  width: 45rem;
  margin: 0 auto;
  margin-bottom: 4.5rem;
}

.hero-section__button {
  width: 16rem;
  background-color: #FFF;
  color: rgba(213, 32, 71, 0.8);
  border-radius: .5rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  padding: 1.7rem 0;
  opacity: 80%;

  display: inline-block;
  margin: 0 auto;

  transition: .2s ease;
} 

.hero-section__button:hover {
  opacity: 100%;
}

/* ======= VIDEO SECTION ======= */
.video {
  padding: 12rem;
  position: relative;
}

.video-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video-section__texts {
  width: 49.9%;
}

.video-section__texts__title {
  margin-bottom: 4rem;
}

.video-section__texts__description {
  font-size: 1.4rem;
  line-height: 1.96rem;
  margin-bottom: 2rem;
}

.video-section__texts__link {
  color: #ED4C5C;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
  opacity: 80%;

  transition: .2s ease;
}

.video-section__texts__link:hover {
  opacity: 100%;
}

.video-section__video img {
  width: 44.5rem;
}

/* ======= FEATURES ======= */
.features {
  background-color: #FAFAFA;
  height: 55rem;
  padding: 6rem;
}

.features-section__title {
  text-align: center;
  margin-bottom: 6rem;
}

.features-section__cards {
  display: flex;
  justify-content: space-between;
}

.features-section__card__text {
  text-align: center;
  background-color: #FFF;
  padding: 2rem;

  border-radius: .8rem;
  margin: -5rem auto;

  height: 15rem;
  width: 25rem;

  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);

  position: relative;
}

.features-section__card img {
  width: 30rem;
  height: 20rem;

  position: relative;
}

.features-section__card__text h3 {
  font-size: 1.8rem;
  line-height: 2.16rem;
  margin-bottom: 1rem;
}

.features-section__card__text p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 1rem;
}

.features-section__card__text a {
  color: #ED4C5C;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
}

/* ======= TECHNOLOGY ======= */
.technology {
  padding: 6rem 0;
}

.technology-section__title {
  text-align: center;
}

.technology-section__cards {
  display: flex;
}

.technology-section__card {
  text-align: center;
  padding: 2rem;
}

.technology-section__card__number {
  font-size: 10rem;
  font-weight: 700;
  color: #101010;
  opacity: 8%;
}

.technology-section__card__texts {
  margin-top: -5.5rem;
}

.technology-section__card__texts img {
  height: 7rem;
  width: 7rem;
}

.technology-section__card__title {
  font-size: 1.8rem;
  color: #101010;
  font-weight: 700;
  margin-bottom: 1.3rem;
}

.technology-section__card__description {
  font-weight: 400;
  font-size: 1.2rem;
}

/* ======= STAY FOCUSED ======= */
.focused {
  background-color: #ED4C5C;
}